<div class="file-wrapper">
  <div class="file-header">
    <!-- <div class="file-name">{{  }}</div> -->
  </div>
  <div fxLayout="row" fxLayoutGap="10px">
    <div class="code-pane" fxFlex="1 1 48%">
      <div class="line" *ngFor="let line of file2RenderLines; let i = index">
        <div class="line-number" fxFlex="1 1 5%">{{ i }}</div>
        <div class="code-line" fxFlex="1 1 95%">{{ line.oldLine }}</div>
      </div>
    </div>
    <div class="code-pane" fxFlex="1 1 48%">
      <div class="line" *ngFor="let line of file2RenderLines; let i = index">
        <div class="line-number" fxFlex="1 1 5%">{{ i }}</div>
        <div class="code-line" fxFlex="1 1 95%" [ngClass]="{'diffExist': line.difference}">{{ line.newLine }}</div>
      </div>
    </div>
  </div>
</div>
